
@page "/fetchdata"
@using SInformation.shared.Models
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject HttpClient httpClient
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;
    string message;
    protected override async Task OnInitializedAsync()
    {
        // check if the token is available then request the API for Access the data
        string token = await sessionStorage.GetItemAsStringAsync("token");
        if (String.IsNullOrEmpty(token))
        {
            message = "The Authentication is not done, please login";
        }
        else
        {
            httpClient.DefaultRequestHeaders.Add("Authorization", $"Bearer {token}");
            forecasts = await httpClient.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");

        }
    }
    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
